.settings-container {
  width: 600px;
  margin: auto;
}

.settings-range {
  width: 100%;
}

.settings-range-label {
  width: 100%;
  text-align: center;
  margin-top: -10px;
}

.btn-settings {
  width: 80px;
}
