// Small button styles
$btn-padding-x-xs: 0.35rem !default;
$btn-padding-y-xs: 0.12rem !default;
$input-btn-line-height-xs: 1.3 !default;

input[type=checkbox] {
  accent-color: $primary;
  vertical-align: middle;
}

input.large {
  width: 1rem;
  height: 1rem;
}

input.larger {
  width: 1.2rem;
  height: 1.2rem;
}

a {
  text-decoration: none
}

.btn.btn-xs {
  // line-height: ensure proper height of button next to small input
  @include button-size($btn-padding-y-xs,
          $btn-padding-x-xs,
          $font-size-sm,
          $btn-border-radius-sm);
}

button {
  border-radius: 999rem !important;
}

.spot-color {
  color: #1ed760;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px $input-bg inset !important;
  -webkit-text-fill-color: $input-color !important;
}

.app-header {
  text-align: center;
  position: fixed;
  top: 0;
  height: 45px;
  width: 100%;
  z-index: 100;
  background-color: var(--header-color);

  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin-top: 0.3rem;
    margin: 0;
  }

  .btt {
    font-size: "large";
    letter-spacing: 0.05rem;
    color: var(--header-body-color);

    &:hover {
      color: var(--header-body-color);
      text-decoration: none;
    }
  }

  .dropdown {
    button {
      border-radius: 0 !important;
    }
  }
}

.app {
  margin-top: 60px;
}

svg {
  vertical-align: -0.125em;
}

.bt-t {
  td:first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  td:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  font-weight: 700;
  width: 100%;
  table-layout: fixed;
  text-transform: uppercase;
  margin-bottom: 10px;
  border-bottom: 1px solid #989898;
  letter-spacing: 0.9px;
  line-height: 1.2;

  th {
    border-bottom: 1px solid #989898;
  }

  td {
    text-transform: none;
    font-weight: initial;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  button {
    font-size: 0.6rem;
    margin: 1px 0px;
  }
}

.bt-h {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
  border-bottom: 1px solid #989898;
  padding-bottom: 2px;
  letter-spacing: 0.9px;

  h2 {
    font-weight: inherit;
    display: inline-block;
    margin: 0;
    font-size: inherit;
  }
}

.bt-panel {
  background-color: var(--panel-bg);
  border-radius: 0.3rem;
}

.bt-left-panel {
  @extend .bt-panel;
  display: flex;
  position: sticky;
  top: 60px;
}

.bt-guess,
.bt-gb {
  letter-spacing: 0.6px;
}

.bt-gb {
  color: var(--alt-text-color);
  line-height: 22px;
}

.bt-guess {
  display: inline-block;
}

.playlist-load-button {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  justify-items: center;
}

.edition-cover {
  height: 80px;
  width: 80px;
  border: solid black 1px;

  img {
    vertical-align: top;
  }
}

.edition-buttons {
  width: 150px;
  text-align: center;

  span {
    font-weight: 500;
    font-size: large;
  }

  button {
    width: 65px;
    margin: 0 2px;
  }
}

.guessable-state-icon {
  display: inline-block;
  align-content: center;
  text-align: center;;
  &.active {
    border-radius: 4px;
    border: 1px solid var(--alt-text-color);
    background-color: var(--header-color);
  }
}

.editable-value:hover,
.editable-value-hover {
  background-color: var(--alt-text-color);
  border-radius: 4px;
}

.edition-form-left-buttons {
  margin-right: auto !important;
}

.edition-form-row {
  align-items: center;
}

.code {
  font-family: 'consolas';
}

.edition-table {
  width: 100%;
  margin: 20px 0;

  th {
    border-bottom: 1px solid #989898;
  }
}

.edition-row-disabled {
  pointer-events: none;
  color: var(--disabled-text);

  img {
    filter: brightness(40%);
  }
}

.edition-row-number {
  font-size: x-large;
  width: 3em;
  opacity: 40%;
}

.alert-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(131, 131, 131, 0.5);
  z-index: 2147483646;
}

.changelog-modal {
  padding-top: calc(var(--bs-modal-margin) * 2);
  justify-content: center;
  margin: auto;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  .h5-with-line {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .h5-with-line::after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: #353535;
    margin-left: 10px;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  .img-caption {
    padding-top: 10px;
    text-align: center;
    font-style: italic;
  }
}

.help-modal {
  justify-content: center;
  margin: auto;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  text-align: center;

  li {
    text-align: left;
  }
}

.alert-modal {
  position: fixed;
  width: fit-content;
  height: fit-content;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2147483647;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin: auto;
  padding: 20px;

  li {
    text-align: left;
  }
}

.popover {
  background-color: $input-bg;
  border: 2px solid $input-border-color;
}

.modal-footer {
  border: none;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1.25rem 1rem;
}

.leaderboard-row {
  position: relative;
  border-radius: 100%;

  span,
  div {
    display: inline-block;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .avatar {
    border-radius: 100%;
    height: 35px;
    width: 35px;
    border: 1.5px solid black;
    vertical-align: top;
  }

  .leaderboard-nick {
    max-width: 100%;
  }

  .leaderboard-buttons {
    button {
      vertical-align: sub
    }
  }

  &:hover {
    background-color: var(--bs-body-bg);

    .leaderboard-buttons {
      right: 0;
    }

    .leaderboard-nick {
      max-width: calc(100% - 65px);
    }
  }
}

.leaderboard-buttons {
  position: absolute;
  top: 0;
  right: -80px;

  button {
    width: 1.5rem;
    text-align: center;
    padding: 0;
    line-height: 1.4rem;
    margin-right: 5px;

    svg {
      margin-left: 0.04rem;
    }
  }
}

.cover {
  color: rgb(49, 49, 49);
  height: 400px;
  width: 400px;
  background-color: rgb(167, 167, 167);
  border: solid black 1px;
  line-height: 400px;
  text-align: center;
  font-size: 80px;

  img {
    width: 100%;
    height: 100%;
    vertical-align: top;
  }
}

.was-validated .form-control:invalid {
  border-color: red;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#playlists {
  animation: fadeIn 1s;

  table {
    thead {
      th {
        border-top-width: 0;
      }
    }

    &.table-sm {

      td,
      th {
        padding: 8px;
      }
    }
  }
}

#playlistsHeader {
  display: flex;
  flex-direction: row-reverse;

  .btn {
    &:focus {
      background-color: $primary;
    }
  }

  form {
    margin-left: 20px;
  }
}

#playlistsFooter {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.spinner {
  min-width: 24px;
  min-height: 24px;
}

.spinner:before {
  content: "Loading…";
  position: absolute;
  top: 240px;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
}

.spinner:not(:required):before {
  content: "";
  border-radius: 50%;
  border: 4px solid rgba(236, 235, 232, 1);
  border-top-color: rgba(130, 130, 130, 1);
  animation: spinner 1s linear infinite;
  -webkit-animation: spinner 1s linear infinite;
}

#playlistsHeader {
  form.search {
    input {
      width: 64px;
      transition: width 250ms ease-in-out;

      &:focus {
        border-color: $input-border-color;
        width: 200px;
      }
    }

    &.queryPresent {
      input {
        width: 200px;
      }
    }

    .input-group {
      background-color: $input-bg;
    }

    .input-group-text {
      color: #dee2e6;
      border-left-color: transparent;
      padding-left: 10px;
      border-radius: 0% 10% 10% 0%;
    }

    .closeIcon,
    .searchIcon {
      cursor: pointer;
    }
  }
}

.no-caret-dropdown::after {
  display: none !important;
}