$input-btn-focus-box-shadow: none;
$input-btn-focus-width: 0;
$btn-transition: none;

@import '~bootstrap/scss/bootstrap';

:root {
  --spot-color: #1ed760;
}

// ==================================== light

@include color-mode(light) {

  --bs-border-color: #adadad;
  --bs-dropdown-link-active-bg: #3c3e41;

  .dropdown-menu {
    --bs-dropdown-link-active-color: none;
    --bs-dropdown-link-active-bg: none;
  }

  $button-color: #747474;

  .btn-primary {
    @include button-variant($button-color, $button-color);
  }

  --alt-text-color: #7a7a7a;
  --header-color: #d1d1d1;
  --header-body-color: #555555;
  --disabled-text: #b1b1b1;
  --panel-bg: #e4e4e4;
  --global-menu-color: #8d8d8d;
}

// ==================================== dark

@include color-mode(dark) {
  --bs-body-bg: #18191a;
  --bs-border-color: #413c3c;

  .dropdown-menu {
    --bs-dropdown-link-active-color: none;
    --bs-dropdown-link-active-bg: none;
  }

  $button-color: #5e5e5e;

  .btn-primary {
    @include button-variant($button-color, $button-color);
  }

  --alt-text-color: #999999;
  --header-color: #0e0f0f;
  --header-body-color: #5e5e5e;
  --disabled-text: #686868;
  --panel-bg: #242526;
  --global-menu-color: #363636;
}

@import "global.scss";