$input-btn-focus-box-shadow: none;
$input-btn-focus-width: 0;
$btn-transition: none;

.light {
  $link-color: #337ab7;
  $primary: #a8a8a8;
  $table-hover-bg: rgba(#000, 0.025);
  $body-color: #191414;
  $header-color: #e6e6e6;
  $panel-bg: #f8f9fa;
  $panel-border-color: #dee2e6;
  $top-button-color: #a0a3a5;
  $top-button-hover-color: #828586;
  $input-focus-border-color: #b4b7b9;
  $input-placeholder-color: #c3c6c9;
  $modal-background-color: #d8d8d8;
  @import "~bootstrap/scss/bootstrap";
  @import "global.scss";
}
.dark {
  $link-color: #4896db;
  $primary: #5e5e5e;
  $table-hover-bg: rgba(#000, 0.25);
  $table-border-color: #484848;
  $body-color: #bdbdbd;
  $header-color: #0e0f0f;
  $panel-bg: #242526;
  $panel-border-color: transparent;
  $top-button-color: #5e5e5e;
  $top-button-hover-color: #b5b9bb;
  $body-bg: #18191a;
  $input-bg: #242526;
  $input-border-color: #424242;
  $input-focus-border-color: #686868;
  $input-color: #d7d9de;
  $input-disabled-bg: #66696b;
  $input-placeholder-color: #525252;
  $modal-background-color: #1f1f1f;
  @import "~bootstrap/scss/bootstrap";
  @import "global.scss";
}
