$input-btn-focus-box-shadow: none;
$input-btn-focus-width: 0;
$btn-transition: none;

@import '~bootstrap/scss/bootstrap';

@include color-mode(light) {

  --bs-border-color: #adadad;

  $button-color: #747474;

  .btn-primary {
    @include button-variant($button-color, $button-color);
  }

  --header-color: #d1d1d1;
  --disabled-text: #b1b1b1;
  --panel-bg: #e4e4e4;
}

@include color-mode(dark) {
  --bs-body-bg: #18191a;
  --bs-border-color: #3c3e41;

  $button-color: #5e5e5e;

  .btn-primary {
    @include button-variant($button-color, $button-color);
  }

  --header-color: #0e0f0f;
  --disabled-text: #686868;
  --top-button-color: #5e5e5e;
  --top-button-hover-color: #b5b9bb;
  --panel-bg: #242526;
  --modal-background-color: #1f1f1f;
}

@import "global.scss";